[submodule "External/yoga"]
	path = external/yoga
	url = https://github.com/facebook/yoga.git
[submodule "External/lucide"]
	path = external/lucide
	url = https://github.com/lucide-icons/lucide
[submodule "External/rtaudio"]
	path = external/rtaudio
	url = https://github.com/thestk/rtaudio
[submodule "External/rtmidi"]
	path = external/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "External/nlohmann-json"]
	path = external/nlohmann-json
	url = https://github.com/nlohmann/json
[submodule "External/kissfft"]
	path = external/kissfft
	url = https://github.com/mborgerding/kissfft
[submodule "External/skia"]
	path = external/skia
	url = https://github.com/google/skia
    update = none
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/pnggroup/libpng
[submodule "external/webp"]
	path = external/webp
	url = https://github.com/jacklicn/libwebp
